body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  background-image: url('../images/fotor-ai-2024022602752.jpg');
  padding: 20px;
}

.form-container {
  background: #fff;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 8px;
  border: 2px solid green;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-fullname {
  display: flex;
  flex-wrap: wrap;
  /* justify-content:baseline; */
}

.form-personal {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.form-school {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.form-olimp {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.form-citizenship {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.form-passport {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group {
  margin-right: auto;
  margin-bottom: 15px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="date"],
.form-group select {
  width: 90%;
  padding: 8px;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

/* .form-group.half {
  flex-basis: calc(50% - 10px);
  box-sizing: border-box;
}  */


.form-group.full {
  flex-basis: 100%;
}

.form-group.full input[type="date"],
.form-group.full input[type="text"],
.form-group.full input[type="tel"] {
  width: 125px;
}

.form-group.full input[type="email"] {
  width: 30%;
}


.form-group label {
  display: block;
  margin-bottom: 5px;
}


/*
.form-group input[type='submit'] {
  background: #5cb85c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.form-group input[type='submit']:hover {
  background: #4cae4c;
}

@media (max-width: 768px) {
  .form-group.half {
    flex-basis: 100%;
  }
} */

#imgBox {
  width: 200px;
  border-radius: 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 2s;
}

#imgBox img {
  width: 100%;
}

#imgBox.show-img {
  max-height: 300px;
  margin: 10px auto;
  border: 1px solid #d1d1d1;
}

.error {
  animation: shake 0.1s linear 10;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  0% {
    transform: translateX(-2px);
  }

  0% {
    transform: translateX(0);
  }

  0% {
    transform: translateX(2px);
  }

  0% {
    transform: translateX(0);
  }
}

.gender-btn, .school-btn {
  padding: 5px 10px;
  margin-right: 10px;
  border: 2px solid green;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f9f9f9;
}

.gender-btn.active, .school-btn.active {
  background-color: #12f01d;
}

.button-group {
  margin-bottom: 10px; 
}

.adress {
  padding-top: 39px; 
}

/* #subject {
  width: 150px;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#subject option:focus {
  border: 2px solid green;
} */